@font-face {
  font-family: 'PKMN';
  src: url('./fonts/PKMN\ RBYGSC.ttf');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  vertical-align: baseline;
  font-family: PKMN;
  font-size: 1.5vmin;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GAME STYLE */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(0, 0%, 10%);
}

.game-container {
  position: relative;
}

.menu-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  background-color: #302c2e;
  color: #cfc6b8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.menu-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #302c2e;
  color: #cfc6b8;
  border-radius: 0.5rem;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  overflow-x: hidden;
}

.menu-modal .title {
  border-bottom: 2px solid #7d7071;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.menu-modal .title span {
  cursor: pointer;
}

.menu-modal .menu-back {
  margin-right: 1rem;
  display: none;
}

.menu-modal ul {
  display: flex;
  border-bottom: 1px solid #7d7071;
}

.menu-modal ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.menu-modal ul li.active {
  background-color: #a0938e;
  border-color: #7d7071;
}

.menu-modal .inner-menu-container {
  /* position: absolute; */
  inset: 0;
  background: #302c2e;
  /* position: relative; */
  flex-grow: 1;
  display: flex;
  width: 200%;
  --offset-x: 0;
  transform: translateX(calc(100% * var(--offset-x)));
  transition: transform 200ms ease-in-out;
}

.inner-menu {
  padding: 1rem;
  display: grid;
  flex: 1;
  overflow-x: auto;
}

.controls-menu {
  flex: 1;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    '. . . up .'
    '. . . w .'
    '. . a s d'
    'shift shift left down right'
    'sprint sprint . . .';
}

.controls-menu .up {
  grid-area: up;
}
.controls-menu .left {
  grid-area: left;
}
.controls-menu .down {
  grid-area: down;
}
.controls-menu .right {
  grid-area: right;
}
.controls-menu .sprint {
  grid-area: sprint;
}
.controls-menu .w {
  grid-area: w;
}
.controls-menu .a {
  grid-area: a;
}
.controls-menu .s {
  grid-area: s;
}
.controls-menu .d {
  grid-area: d;
}
.controls-menu .shift {
  grid-area: shift;
}
.controls-menu .empty {
  grid-area: empty;
}

.controls-menu .w,
.controls-menu .a,
.controls-menu .s,
.controls-menu .d,
.controls-menu .shift {
  border: 2px solid #7d7071;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-menu .up,
.controls-menu .left,
.controls-menu .down,
.controls-menu .right,
.controls-menu .sprint {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-menu {
  flex: 1;
}
